<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <script
            src="https://unpkg.com/alpinejs"
            defer
        ></script>
        <title>Document</title>
    </head>
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('data', () => ({
                productData: [],
                async get_data() {
                    try {
                        const data = await (await fetch('http://127.0.0.1:8000/')).json();
                        this.productData = data
                    } catch (error) {
                        console.log(error)
                    }
                },
                async create_data() {
                    try {
                        const data = await (await fetch('http://127.0.0.1:8000/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                title: this.title,
                                priority: this.priority,
                                completed: this.completed
                            })
                        })).json();
                        this.productData = data
                    } catch (error) {
                        console.log(error)
                    }
                },
                async update_data(id) {
                    try {
                        const data = await (await fetch(`http://127.0.0.1:8000/${id}`, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                title: this.title,
                                priority: this.priority,
                                completed: this.completed
                            })
                        })).json();
                        this.productData = data
                    } catch (error) {
                        console.log(error)
                    }
                },
                async delete_data(id) {
                    try {
                        const data = await (await fetch(`http://127.0.0.1:8000/${id}`, {
                            method: 'DELETE',
                        })).json();
                        this.productData = data
                    } catch (error) {
                        console.log(error)
                    }
                }
            }))
        })
    </script>

    <body x-data="data">
        <div x-init="get_data()">
            <!-- <div x-text="JSON.stringify(productData)"></div> -->
            <button @click="get_data()">Reload</button>
            <template x-for="p in productData">
                <div x-data="{editMode: false, title: p.title, priority: p.priority, completed: p.completed}">
                    <template x-if="!editMode">
                        <div x-show="!editMode">
                            <span x-text="`${p.id}. ${p.title} - ${p.priority} - ${p.completed}`"></span>
                            <span @click="editMode = true">| E</span>
                            <span @click="delete_data(p.id)">|
                                D</span>
                        </div>
                    </template>
                    <template x-if="editMode">
                        <div
                            @click.outside="editMode = false"
                            @keyup.escape="editMode = false"
                            @keyup.enter="update_data(p.id); editMode = false"
                        >
                            <input
                                type="text"
                                x-model="title"
                            >
                            <input
                                type="number"
                                x-model.number="priority"
                            >
                            <input
                                type="checkbox"
                                x-model="completed"
                            >
                            <button
                                @click="update_data(p.id); editMode = false"
                            >Update</button>
                        </div>
                    </template>
                </div>
            </template>
        </div>
        <div x-data="{ title: '', priority: 0, completed: false }">
            <input
                type="text"
                x-model="title"
            >
            <input
                type="number"
                x-model.number="priority"
            >
            <input
                type="checkbox"
                x-model="completed"
            >
            <div x-text="`title: ${title}, priority: ${priority}, completed: ${completed}`"></div>
            <button @click="create_data()">Create</button>
        </div>
    </body>

</html>