<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <script
            src="https://unpkg.com/alpinejs"
            defer
        ></script>
        <script src="https://unpkg.com/htmx.org"></script>
        <meta
            name="htmx-config"
            content='{"selfRequestsOnly":false}'
        >
        <title>Document</title>
    </head>

    <body
        x-data="{
        productData: [],
        }"
        hx-get="http://127.0.0.1:8000/"
        hx-trigger="load"
        hx-swap="none"
        @htmx:after-request="productData = JSON.parse(event.detail.xhr.responseText)"
    >
        <div>
            <!-- <div x-text="JSON.stringify(productData, null, 2)"></div> -->
            <button
                hx-get="http://127.0.0.1:8000/"
                hx-trigger="click"
                hx-swap="none"
                @htmx:after-request.window="productData = JSON.parse(event.detail.xhr.responseText)"
            >Reload</button>
            <template x-for="p in productData">
                <div x-data="{editMode: false, title: p.title, priority: p.priority, completed: p.completed}">
                    <template x-if="!editMode">
                        <div x-show="!editMode">
                            <span x-text="`${p.id}. ${p.title} - ${p.priority} - ${p.completed}`"></span>
                            <span @click="editMode = true">| E</span>
                            <span
                                x-init="htmx.process($el)"
                                :hx-delete="`http://127.0.0.1:8000/${p.id}`"
                                hx-swap="none"
                                @htmx:after-request.window="productData = JSON.parse(event.detail.xhr.responseText)"
                            >|
                                D</span>
                        </div>
                    </template>
                    <template x-if="editMode">
                        <div
                            @click.outside="editMode = false"
                            @keyup.escape.window="editMode = false"
                            x-init="htmx.process($el)"
                            hx-headers='{"Content-Type" : "application/json"}'
                            hx-ext="json"
                            :hx-vals="JSON.stringify({ title: title, priority: priority, completed: completed })"
                            :hx-put="`http://127.0.0.1:8000/${p.id}`"
                            hx-trigger="keyup[key=='Enter'] from body"
                            hx-swap="none"
                            @htmx:after-request.window="productData = JSON.parse(event.detail.xhr.responseText); editMode = false"
                        >
                            <input
                                type="text"
                                x-model="title"
                            >
                            <input
                                type="number"
                                x-model.number="priority"
                            >
                            <input
                                type="checkbox"
                                x-model="completed"
                            >
                            <button
                                x-init="htmx.process($el)"
                                @htmx:config-request.window="$event.detail.headers['Content-Type'] = 'application/json'"
                                hx-ext="json"
                                :hx-vals="JSON.stringify({ title: title, priority: priority, completed: completed })"
                                :hx-put="`http://127.0.0.1:8000/${p.id}`"
                                hx-swap="none"
                                @htmx:after-request.window="productData = JSON.parse(event.detail.xhr.responseText); editMode = false"
                            >Update</button>
                        </div>
                    </template>
                </div>
            </template>
        </div>
        <div x-data="{ title: '', priority: 0, completed: false }">
            <input
                type="text"
                x-model="title"
                placeholder="Title"
            >
            <input
                type="number"
                x-model.number="priority"
                placeholder="Priority"
            >
            <input
                type="checkbox"
                x-model="completed"
            >
            <div x-text="`Title: ${title}, Priority: ${priority}, Completed: ${completed}`">
            </div>
            <button
                hx-post="http://127.0.0.1:8000/test"
                hx-ext="json"
                hx-vals="{
                        'title': 'title',
                        'priority': 'priority',
                        'completed': 'completed'
                    }"
                hx-swap="none"
            >Submit4
            </button>
        </div>
        <script>
            let api
            htmx.defineExtension('json', {
                init: function (apiRef) {
                    api = apiRef
                },
                onEvent: function (name, evt) {
                    if (name === "htmx:configRequest") {
                        evt.detail.headers['Content-Type'] = "application/json"
                    }
                },
                encodeParameters: function (xhr, parameters, elt) {
                    xhr.overrideMimeType('text/json')
                    const vals = api.getExpressionVars(elt)
                    const object = {}
                    parameters.forEach(function (value, key) {
                        const typedValue = Object.hasOwn(vals, key) ? vals[key] : value
                        if (Object.hasOwn(object, key)) {
                            if (!Array.isArray(object[key])) {
                                object[key] = [object[key]]
                            }
                            object[key].push(typedValue)
                        } else {
                            object[key] = typedValue
                        }
                    })
                    return (JSON.stringify(object))
                }
            })
        </script>
    </body>

</html>